DirectoryIndex index.html
Options -MultiViews
FileETag MTime Size

<IfModule mod_mime.c>
	AddType text/javascript .mjs
	AddType application/wasm .wasm
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(php|js|mjs|css|html|shtml|htm|json)$">
		Header unset Pragma
		Header unset Expires
		Header set Cache-Control "no-cache, must-revalidate"
	</FilesMatch>
</IfModule>
